{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}Heroic Features - Start Bootstrap Template{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="{% static 'dids/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            {% if user.is_authenticated %}
                <div class="navbar-brand">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar" style="border-radius: 50%; width: 40px; height: 40px; margin-right: 10px;">
                    {% else %}
                        <img src="{% static 'default-avatar.png' %}" alt="Avatar" class="avatar" style="border-radius: 50%; width: 40px; height: 40px; margin-right: 10px;">
                    {% endif %}
                    Welcome, {{ user.first_name }} {{ user.last_name }}
                </div>
            {% else %}
                <a class="navbar-brand" href="#!">NGs Telecom</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.is_technical %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDID" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">DID</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownDID">
                                    <li><a class="dropdown-item" href="{% url 'RegDIDs' %}">New Number</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusDIDs' %}">Search Number</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusDIDsByCompany' %}">Edit Numbers</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRates" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Commercial Rates</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownRates">
                                    <li><a class="dropdown-item" href="{% url 'RegTar' %}">New Offer</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusTar' %}">Search Rate</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCompanies" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Companies</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCompanies">
                                    <li><a class="dropdown-item" href="{% url 'RegComp' %}">New Company</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusComp' %}">Search Company</a></li>
                                </ul>
                            </li>
                        {% elif user.is_commercial %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDID" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">DID</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownDID">
                                    <li><a class="dropdown-item" href="{% url 'BusDIDs' %}">Search Number</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusDIDsByCompany' %}">Check Company Numbers</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRates" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Commercial Rates</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownRates">
                                    <li><a class="dropdown-item" href="{% url 'RegTar' %}">New Offer</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BusTar' %}">Search Rate</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCompanies" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Companies</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCompanies">
                                    <li><a class="dropdown-item" href="{% url 'BusComp' %}">Search Company</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Account</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                                <li>
                                    <form method="post" action="{% url 'Logout' %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                                <li><a class="dropdown-item" href="{% url 'change_avatar' %}">Change Avatar</a></li>
                                {% if user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'Register' %}">Register New User</a></li>
                                    <li><a class="dropdown-item" href="{% url 'user_list' %}">Modify Users</a></li>
                                {% elif user.is_technical %}
                                    <li><a class="dropdown-item" href="{% url 'Register' %}">Register New User</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Login' %}">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block contenidoQueCambia %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Welcome to the NGs Telecom DIDs portal:</h1>
                    <p class="fs-4">Welcome to our interactive portal! Here, you can register your DIDs, companies, and
                        rates to unlock new business opportunities. You can also easily search for existing numbers,
                        companies, and rates to gather valuable information.</p>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; NGs Telecom 2024</p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>


